In [1]:
import pandas as pd
import numpy as np
file_directory = "C:/Users/wikku/global_china_initiative/asia_bulletin/comtrade/asia_china_raw_data/"

# Step 1: data pull (exports)
- Type of product: goods (default)
- Frequency: Annual (default)
- Classifications: SITC (then SITC LTS)
- periods: (in this case 2000-2024, chunk downloads needed)
- reporters: bulletin countries
- trade flows: exports
- SITC: AG3
- Modes of transport: TOTAL modes of transport (default)
- Customs Codes: TOTAL customs procedure codes (default)
- Partners: World (in case of world look; China if bulletin-China look)
- 2nd Partner: World
- Breakdown Mode: Plus (default)
- Aggregate By: None

In [2]:
export_df1 = pd.read_excel(file_directory + 'asia_china_export2000_2011.xlsx', sheet_name='Sheet1')
export_df2 = pd.read_excel(file_directory + 'asia_china_export2012_2015.xlsx', sheet_name='Sheet1')
export_df3 = pd.read_excel(file_directory + 'asia_china_export2016_2019.xlsx', sheet_name='Sheet1')
export_df4 = pd.read_excel(file_directory + 'asia_china_export2020_2024.xlsx', sheet_name='Sheet1')
export_df5 = pd.read_excel(file_directory + 'maldives_china_export2000_2011.xlsx', sheet_name='Sheet1')
export_df6 = pd.read_excel(file_directory + 'maldives_china_export2012_2023.xlsx', sheet_name='Sheet1')
export_df7 = pd.read_excel(file_directory + 'maldives_china_export2024.xlsx', sheet_name='Sheet1')

combined_export_df = pd.concat([export_df1, export_df2, export_df3, export_df4, export_df5, export_df6, export_df7], ignore_index=True)

In [3]:
combined_export_df

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20000101,2000,52,2000,116,KHM,Cambodia,X,...,6851.000,False,NaN,False,NaN,11065.000,11065.000,0,True,False
1,C,A,20000101,2000,52,2000,50,BGD,Bangladesh,X,...,195760.000,False,NaN,False,NaN,290751.000,290751.000,0,True,False
2,C,A,20000101,2000,52,2000,116,KHM,Cambodia,X,...,95066.000,False,NaN,False,NaN,661313.000,661313.000,0,True,False
3,C,A,20000101,2000,52,2000,50,BGD,Bangladesh,X,...,19875.000,False,NaN,False,NaN,64482.000,64482.000,0,True,False
4,C,A,20000101,2000,52,2000,50,BGD,Bangladesh,X,...,417200.000,False,NaN,False,NaN,3656279.000,3656279.000,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145240,C,A,20240101,2024,52,2024,462,MDV,Maldives,X,...,14.000,False,0.0,False,23.995,23.995,23.995,0,False,True
145241,C,A,20240101,2024,52,2024,462,MDV,Maldives,X,...,73093.765,True,0.0,False,201423.067,201423.067,201423.067,6,False,True
145242,C,A,20240101,2024,52,2024,462,MDV,Maldives,X,...,28000.000,False,0.0,False,9920.853,9920.853,9920.853,0,False,True
145243,C,A,20240101,2024,52,2024,462,MDV,Maldives,X,...,35.879,True,0.0,False,75.979,75.979,75.979,6,False,True
145244,C,A,20240101,2024,52,2024,462,MDV,Maldives,X,...,2.410,True,0.0,False,39.989,39.989,39.989,6,False,True

In [4]:
bulletin_countries = [
"Dem. People's Rep. of Korea",
"Rep. of Korea",
"Japan",
"Mongolia",
"Brunei Darussalam",
"Cambodia",
"Indonesia",
"Lao People's Dem. Rep.",
"Malaysia",
"Nepal",
"Pakistan",
"Philippines",
"Singapore",
"Sri Lanka",
"Thailand",
"Timor-Leste",
'Viet Nam',
"Bangladesh",
'Bhutan',
"India",
"Myanmar",
"Maldives"
]
print("number of countries in bulletin:",len(bulletin_countries))
years = list(range(2000, 2025))
print(years)

number of countries in bulletin: 22
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

### Step 2: see what countries and years we need imputed data for

In [5]:
need_impute = pd.DataFrame(columns=['reporterDesc', 'refYear'])
for country in bulletin_countries:
    country_df = combined_export_df[combined_export_df['reporterDesc'] == country]
    country_years = country_df['refYear'].unique().tolist()
    missing_years = set(years) - set(country_years)
    if missing_years:
        print(f"{country} is missing data for years: {sorted(missing_years)}")
        for year in missing_years:
            need_impute = pd.concat([need_impute, pd.DataFrame({'reporterDesc': [country], 'refYear': [year]})], ignore_index=True)
    else:
        print(f"{country} has complete data for all years.")

Dem. People's Rep. of Korea is missing data for years: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Rep. of Korea has complete data for all years.
Japan has complete data for all years.
Mongolia is missing data for years: [2008, 2009, 2010, 2011, 2012, 2024]
Brunei Darussalam is missing data for years: [2000, 2005]
Cambodia has complete data for all years.
Indonesia has complete data for all years.
Lao People's Dem. Rep. is missing data for years: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2024]
Malaysia has complete data for all years.
Nepal is missing data for years: [2001, 2002, 2004, 2005, 2006, 2007, 2008, 2023, 2024]
Pakistan has complete data for all years.
Philippines is missing data for years: [2010, 2011, 2012, 2013, 2014, 2015, 2016]
Singapore has complete data for all years.
Sri Lanka is missing data for years: [2018]
Thailand has complete data for all years.
Timor-Leste is missing data for years: [2000, 2001, 2002, 2003, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2024]
Viet Nam is missing data for years: [2024]
Bangladesh is missing data for years: [2014, 2019, 2020, 2021, 2022, 2023, 2024]
Bhutan is missing data for years: [2000, 2001, 2002, 2003, 2004, 2013, 2014, 2015, 2016, 2017, 2018, 2021, 2024]
India has complete data for all years.
Myanmar is missing data for years: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]
Maldives has complete data for all years.

### check if code works
- see if need_impute df agrees with loop above
- aggregate by fobvalue (just because country was in dataset, perhaps fobvalue was not caputured). Closer imitates training video's step 2. Strangely small values may mean export imputed needed

In [6]:
print("countries that need impute check", need_impute[need_impute["reporterDesc"] == "Bhutan"]) #did it capture loop correctly?
fobvalue_check = combined_export_df['fobvalue'].fillna(0)
fobvalue_summary = combined_export_df.groupby(['refYear', 'reporterDesc'])['fobvalue'].sum().reset_index()
print(fobvalue_summary.isnull().any()) #double check
fobvalue_summary.sort_values(by='fobvalue', ascending=True, inplace=False) #if number is really small, maybe reporting issue

countries that need impute check     reporterDesc refYear
88        Bhutan    2016
89        Bhutan    2017
90        Bhutan    2018
91        Bhutan    2021
92        Bhutan    2024
93        Bhutan    2000
94        Bhutan    2001
95        Bhutan    2002
96        Bhutan    2003
97        Bhutan    2004
98        Bhutan    2013
99        Bhutan    2014
100       Bhutan    2015
refYear         False
reporterDesc    False
fobvalue        False
dtype: bool

     refYear   reporterDesc      fobvalue
80      2004    Timor-Leste  3.491300e+04
97      2005    Timor-Leste  3.699900e+04
386     2022         Bhutan  1.082862e+05
347     2020         Bhutan  1.855090e+05
328     2019         Bhutan  5.950108e+05
..       ...            ...           ...
172     2010          Japan  1.919917e+11
371     2021          Japan  1.996626e+11
380     2021  Rep. of Korea  2.004083e+11
190     2011          Japan  2.052119e+11
324     2018  Rep. of Korea  2.081406e+11

[439 rows x 3 columns]

## Step 2 Continued
##### pull export imputed data: Really this is pulling imports FROM the countries we missed on our export pull. We will use "cifvalue" instead of "fobvalue". The downside is that cifvalue includes fees that pull away from the essence of this export info.


- Type of product: goods (default)
- Frequency: Annual (default)
- Classifications: SITC (then SITC LTS)
- periods: whatever year(s) you are missing from that country/countries (chunk downloads needed)
- reporters: **All** (in case of world look; **China** if bulletin-China look)
- trade flows: **imports**
- SITC: AG3
- Modes of transport: TOTAL modes of transport (default)
- Customs Codes: TOTAL customs procedure codes (default)
- Partners: **Country you are missing**
- 2nd Partner: World (although video put same as partner country, this is likely a mistake). See documentation from UN Comtrade below

###### Q: What is 2nd partner?

###### A: The 2nd partner is country of consignment.

###### The country of consignment (in the case of imports) is the country from which goods were dispatched to the importing country, without any commercial
###### transactions or other operations that change the legal status of the goods taking place in any intermediate country. If, before arriving in the
###### importing country, goods enter one or more further countries and are subject to such transactions or operations, that last intermediate country where
###### such transactions or operations took place should be taken as the country of consignment. The country of consignment (in the case of exports) is the
###### country to which goods are dispatched by the exporting country, without—as far as it is known at the time of exportation—being subject to any 
###### transactions or other operations that change the legal status of the goods taking place in any intermediate country. If there are several intermediate 
###### countries, then the first intermediate country after leaving the exporting country should be recorded as country of consignment or destination."

- Breakdown Mode: Plus (default)
- Aggregate By: **Reporter**

In [7]:
#north korea (Dem. People's Rep. of Korea)
northKorea2000_2011= pd.read_excel(file_directory + 'northKorea_china_import2000_2011.xlsx', sheet_name='Sheet1')
northKorea2012_2023= pd.read_excel(file_directory + 'northKorea_china_import2012_2023.xlsx', sheet_name='Sheet1')
northKorea2024 = pd.read_excel(file_directory + 'northKorea_china_import2024.xlsx', sheet_name='Sheet1')
combined_north_korea_df = pd.concat([northKorea2000_2011, northKorea2012_2023, northKorea2024], ignore_index=True) #1

# mongolia_df
mongolia_df = pd.read_excel(file_directory + 'mongolia_china_import.xlsx', sheet_name='Sheet1') #2

# brunei darussalam_df
bruneiDarussalam_df = pd.read_excel(file_directory + 'bruneiDarussalam_china_import.xlsx', sheet_name='Sheet1') #3

# Lao People's Dem. Rep.
lao_df = pd.read_excel(file_directory + 'lao_china_import.xlsx', sheet_name='Sheet1') #4

# Nepal
nepal_df = pd.read_excel(file_directory + 'nepal_china_import.xlsx', sheet_name='Sheet1') #5

# philippines
philippines_df = pd.read_excel(file_directory + 'philippines_china_import.xlsx', sheet_name='Sheet1') #6

# Sri Lannka
sriLanka_df = pd.read_excel(file_directory + 'sriLanka_china_import.xlsx', sheet_name='Sheet1') #7

# timor-leste
timorLeste_pt1 = pd.read_excel(file_directory + 'timorLeste_china_import_pt1.xlsx', sheet_name='Sheet1')
timorLeste_pt2 = pd.read_excel(file_directory + 'timorLeste_china_import_pt2.xlsx', sheet_name='Sheet1')
combined_timorLeste_df = pd.concat([timorLeste_pt1, timorLeste_pt2], ignore_index=True) #8

#Viet Nam
vietNam_df = pd.read_excel(file_directory + 'vietNam_china_import2024.xlsx', sheet_name='Sheet1') #9

#bangladesh
bangladesh_df = pd.read_excel(file_directory + 'bangladesh_china_import.xlsx', sheet_name='Sheet1') #10

#bhutan
bhutan_pt1 = pd.read_excel(file_directory + 'bhutan_china_import_pt1.xlsx', sheet_name='Sheet1')
bhutan_pt2 = pd.read_excel(file_directory + 'bhutan_china_import_pt2.xlsx', sheet_name='Sheet1')
combined_bhutan_df = pd.concat([bhutan_pt1, bhutan_pt2], ignore_index=True) #11

#myanmar
myanmar_df = pd.read_excel(file_directory + 'myanmar_china_import.xlsx', sheet_name='Sheet1') #12

combined_import_df = pd.concat([
    combined_north_korea_df,
    mongolia_df,
    bruneiDarussalam_df,
    lao_df,
    nepal_df,
    philippines_df,
    sriLanka_df,
    combined_timorLeste_df,
    vietNam_df,
    bangladesh_df,
    combined_bhutan_df,
    myanmar_df
], ignore_index=True)

#### Did you get all the countries and years you needed?

In [8]:
need_impute["reporterDesc"].unique()

array(["Dem. People's Rep. of Korea", 'Mongolia', 'Brunei Darussalam',
       "Lao People's Dem. Rep.", 'Nepal', 'Philippines', 'Sri Lanka',
       'Timor-Leste', 'Viet Nam', 'Bangladesh', 'Bhutan', 'Myanmar'],
      dtype=object)

In [9]:
country = "Myanmar" 
country_check = need_impute[need_impute["reporterDesc"] == country]
print("# years needed", len(need_impute[need_impute["reporterDesc"] == country]))
print("years needed:", sorted(country_check["refYear"].tolist()))

# years needed 10
years needed: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]

#### NOTE: Timor-Leste doesn't have export imputed data for 2000-2002 (China)

In [10]:
year_check = combined_import_df[['refYear', 'partnerDesc']]
#delete 2000 from year_check to test mismatched example
#year_check_test = year_check[year_check['refYear'] != 2000]
#add a dummy row to show mismatched example
need_impute_test = pd.concat([need_impute, pd.DataFrame({'refYear': [2015], 'reporterDesc': ['dummy']})], ignore_index=True)
# Check if the pairs of refYear and reporterDesc in need_impute exist in year_check
comparison = need_impute_test.merge(year_check, left_on=['refYear', 'reporterDesc'], right_on=['refYear', 'partnerDesc'], how='left', indicator=True)

# Display rows where there is no match
mismatched_rows = comparison[comparison['_merge'] != 'both']
print("Mismatched rows:")
print(mismatched_rows)

combined_import_df.to_excel(file_directory + 'combined_imports_for_impute.xlsx', index=False)

Mismatched rows:
     reporterDesc refYear partnerDesc     _merge
6355  Timor-Leste    2000         NaN  left_only
6356  Timor-Leste    2001         NaN  left_only
6357  Timor-Leste    2002         NaN  left_only
8706        dummy    2015         NaN  left_only

## Step 2 (Final) bring import to export imputed
- clean, concatenate back on export df

In [11]:
import_df = combined_import_df.copy()

#swap naming
import_df['reporterDesc'] = import_df['partnerDesc'] 
import_df['reporterISO'] = import_df['partnerISO']
import_df['reporterCode'] = import_df['partnerCode']
import_df['partnerDesc'] = 'China'
import_df['partnerISO'] = "CHN" #however, cannot tell about hongkong and macau, aggregated by reporter, so that info not given

#impute export
import_df['flowDesc'] = 'Export Imputed'
import_df['fobvalue'] = import_df['cifvalue']

#concatenate
df = pd.concat([combined_export_df, import_df], ignore_index=True)

## Step 3, clean columns
- export as excel, use reference as per training

In [12]:
df_copy = df.copy()
df_copy.rename(columns={
    'refYear': 'Year',
    'fobvalue': 'tradeValue'
}, inplace=True)
asia_china_df = pd.DataFrame()
asia_china_df[[
    'Year',
    'flowDesc',
    'reporterCode',
    'reporterDesc',
    'partnerDesc',
    'classificationCode',
    'cmdCode',
    'cmdDesc',
    'motDesc',
    'tradeValue',
    'netWgt'
]] = df_copy[[
    'Year',
    'flowDesc',
    'reporterCode',
    'reporterDesc',
    'partnerDesc',
    'classificationCode',
    'cmdCode',
    'cmdDesc',
    'motDesc',
    'tradeValue',
    'netWgt']]

asia_china_df.to_excel('C:/Users/wikku/global_china_initiative/asia_bulletin/comtrade/asia_china_comtrade_cleaned_final2000_2024.xlsx', index=False)